body {
    background-image: url(/src/imagens/wallpaper.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}

.logo {
    position: absolute;
    width: 200px;  
    height: auto;  
    margin-bottom: 600px;
    text-align: center;
}


.login-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center; 
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    padding-left: 10px;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}
.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container i {
    margin-right: 10px; 
    font-size: 18px; 
}

input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
